<?xml version="1.0" encoding="UTF-8"?>
<!--  -->
<web-app >
	<display-name>Proyecto</display-name>
	<servlet>
		<servlet-name>ServletActuator</servlet-name>
		<servlet-class>es.us.lsi.dad.ServletActuator</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ServletSensor</servlet-name>
		<servlet-class>es.us.lsi.dad.ServletSensor</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletActuator</servlet-name>
		<url-pattern>/ServletActuator</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServletSensor</servlet-name>
		<url-pattern>/ServletSensor</url-pattern>
	</servlet-mapping>
</web-app>